.App {
  text-align: center;
  background-color: rgb(164, 252, 220);
}
.header {
  padding-top: 50px;
  font-size: 45px;
  text-align: left;
}
.left {
  float: left;
}
.margin {
  margin-left: 15px;
}
.filter {
  float: right;
  outline: none;
  margin: 0px 10px;
  border-color: transparent;
}
.btn:nth-of-type(3) {
  margin-right: 0px!important;
}
.list {
  margin-top: 80px;
}
.green {
  background-color: rgb(142, 245, 161) !important;
  margin-top: 15px;
  text-align: left;
}
.details {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
}
.btn {
  background-color: rgb(28, 225, 64) !important;
  margin-top: 10px;
  outline: none;
}
.paginate {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.page-link {
  color: green !important;
  border-color: transparent !important;
}
